.book {
  background: rgb(117, 125, 232);
  background: linear-gradient(
    146deg,
    rgba(117, 125, 232, 1) 41%,
    rgba(142, 206, 255, 1) 93%
  );
  width: 150px;
  height: 200px;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  margin: 10px;
  -webkit-box-shadow: 10px 10px 22px -1px #6e6e6e;
  box-shadow: 10px 10px 22px -1px #6e6e6e;
  box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  color: white;
  font-weight: 600;
}
.author {
  color: white;
  text-align: right;
}
