* {
  box-sizing: border-box;
}
.bookContent {
  display: flex;
  flex: 1 1 1;
  height: 100vh;
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  color: white;
}
.bookInfo {
  display: flex;
  align-items: center;
}
.bookTitleAndDescription {
  padding: 0 20px;
}
.review {
  position: relative;
  top: 30vh;
  padding: 20px;
}
.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}
.books p {
  border: 1px solid grey;
  width: 150%;
  height: 100px;
}
