.bookPopUp {
  margin: auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: pink;
  width: 80vw;
  heigth: 80vh;
}
.bookPopUpForm {
  display: flex;
  flex-direction: column;
}
.editor {
  height: 80%;
}
