.bookPopUp {
  margin: auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 100px;
  background-color: white;
  border-radius: 3px;
  width: 50vw;
  heigth: 80vh;
}
.bookPopUpForm {
  display: flex;
  flex-direction: column;
}
.bookPopUpForm input {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.editor {
  height: 200px;
  border: 0.5px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
}
