.bookPopUp {
  margin: auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 100px;
  background-color: white;
  border-radius: 3px;
  width: 50vw;
  heigth: 80vh;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(180, 180, 180, 0.66);
  box-shadow: 0px 2px 3px 0px rgba(180, 180, 180, 0.66);
}
.bookPopUpTitle {
  padding: 10px;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popUpCloseButton {
  background-color: white;
  border-radius: 20px;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  margin-right: 10px;
}
.bookPopUpForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.bookPopUpForm input {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid gray;
}
.editor {
  height: 200px;
  border: 0.5px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
}
