.sideNavBar {
  box-sizing: bordre-box;
  display: flex;
  width: 15vw;
  flex-direction: column;
  border-right: 1px solid lightgray;
  padding: 20px;
}
.userName {
}
.menuList {
  height: 80%;
  list-style: none;
  font-size: 20px;
  margin: 10px;
  padding: 0;
}
.homeMenu {
}
.myBookMenu {
}
.messageMenu {
}
.settingMenu {
}
